/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    background:#fafafa;
    font-family:Arial, Helvetica, sans-serif;
}

/* Remove List Style */

ul{
    list-style:none;
}

/* Remove Link Underline */

a{
    text-decoration:none;
    color:black;
}

/* Images */

img{
    width:100%;
    display:block;
}
.row{
    min-height:100vh;
}
.col-lg-3:first-child{
    background:#ffffff;
}

.col-lg-6{
    background:#fafafa;
}

.col-lg-3:last-child{
    background:#ffffff;
}

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background: #fff;
}
.logo {
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
}
.sidebar .nav-link {
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.sidebar .nav-link:hover {
    background: #f2f2f2;
}
.sidebar i {
    transition: transform 0.2s;
}
.sidebar .nav-link:hover i {
    transform: scale(1.1);
}

/* Stories */

.stories{
    overflow-x:auto;
    white-space:nowrap;
    padding:20px 0;
    border-bottom:1px solid #dbdbdb;
}

.stories::-webkit-scrollbar{
    display:none;
}

.story{
    min-width:80px;
    cursor:pointer;
}

.story img{

    width:70px;
    height:70px;
    border-radius:50%;

    padding:3px;

    background:
    linear-gradient(white,white) padding-box,
    linear-gradient(45deg,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5) border-box;

    border:3px solid transparent;

    object-fit:cover;

    margin:auto;
}

.story small{
    display:block;
    margin-top:8px;
    font-size:12px;
}
.story img{

    transition:.3s;

}

.story:hover img{

    transform:scale(1.08);

}
/* Post */

.card{

    border-radius:10px;

    overflow:hidden;

}

.post-image{

    width:100%;

    height:600px;

    object-fit:cover;

}

.card-header{

    border-bottom:none;

}

.card-body i{

    cursor:pointer;

    transition:.2s;

}

.card-body i:hover{

    transform:scale(1.1);

}

.like-btn.active{

    color:red;

}